<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>Tasks</h1>

{% if daily_list %}
    {% with 'Daily' as progress_list_title %}
    {% with daily_list as progress_list %}
        {% include 'tasks/elements/progress-list.html' %}
    {% endwith %}
    {% endwith %}

    {% with 'Weekly' as progress_list_title %}
    {% with weekly_list as progress_list %}
        {% include 'tasks/elements/progress-list.html' %}
    {% endwith %}
    {% endwith %}
{% endif %}

</body>
</html>
