<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>Tasks</h1>

{% if daily_list %}
    <h2>Daily</h2>
    <ul>
    {% for progress in daily_list %}
        {% for _ in progress.pending %}
            <li>{{ progress.task.name }} [<a href="{% url 'mark_done' task_id=progress.task.id %}">done</a>]</li>
        {% endfor %}
        {% for _ in progress.done %}
            <li><strike>{{ progress.task.name }}</strike></li>
        {% endfor %}
    {% endfor %}
    </ul>

    <h2>Weekly</h2>
    <ul>
    {% for progress in weekly_list %}
        {% for _ in progress.pending %}
            <li>{{ progress.task.name }} [<a href="{% url 'mark_done' task_id=progress.task.id %}">done</a>]</li>
        {% endfor %}
        {% for _ in progress.done %}
            <li><strike>{{ progress.task.name }}</strike></li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endif %}

</body>
</html>
