    <h2>{{ progress_list_title }}</h2>
    <ul>
    {% for progress in progress_list %}
        {% for _ in progress.pending %}
            <li>{{ progress.task.name }} [<a href="{% url 'mark_done' task_id=progress.task.id %}">done</a>]</li>
        {% endfor %}
        {% for _ in progress.done %}
            <li><strike>{{ progress.task.name }}</strike></li>
        {% endfor %}
        {% if progress.task.count <= progress.count %}
            <li>{{ progress.task.name }} [<a href="{% url 'mark_done' task_id=progress.task.id %}">extra</a>]</li>
        {% endif %}
    {% endfor %}
    </ul>
