<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>Pending tasks</h1>

{% if daily_list %}
    <h2>Daily</h2>
    <ul>
    {% for progress in daily_list %}
        <li>[<a href="/tasks/tasks/mark-done?task={{ progress.task.id }}">done</a>] {{ progress.task.name }}</li>
    {% endfor %}
    </ul>

    <h2>Weekly</h2>
    <ul>
    {% for progress in weekly_list %}
        <li>[<a href="/tasks/tasks/mark-done?task={{ progress.task.id }}">done</a>] {{ progress.task.name }}</li>
    {% endfor %}
    </ul>
{% endif %}

</body>
</html>
